<div id="new_message_container" class="chat-message-form">
  <%= simple_form_for [chat, message] do |f| %>
    <%= f.input :content,
        label: "Votre message",
        required: true,
        placeholder: "Écrivez quelque chose à ce personnage..." %>
    <%= f.button :submit, "Envoyer", class: "chat-message-submit" %>
  <% end %>
</div>
