<div id="character_image">
  <% if character.image_url.present? %>
    <%= image_tag character.image_url,
        alt: character.name,
        class: "character-show-image" %>
  <% else %>
    <div class="character-show-image-loader">
      <div class="character-show-spinner"></div>
      <p>Generating portrait...</p>
    </div>
  <% end %>
</div>
